<h1>All Tags</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag),
    class: 'tag_name', id: "tag_#{tag.id}" %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a New Tag", new_tag_path, class: "new_tag" %>